* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;
  height: 100vh;

  font-family: 'Poppins', sans-serif;

  transition: 1s ease-in-out;
}

#quote-box {
  margin: auto;
  padding: 3rem;

  max-width: 600px;
}

/* ============================== MEDIA QUERIES ============================== */

/* Mobile Devices (320px - 480px) */

@media only screen and (max-width: 480px) {
  #quote-box {
    margin: 0 0.5rem;
    padding: 3rem 1rem;
  }
}

/* iPads and Tablets (481px - 768px) */

/* Laptops (769px - 1279px) */

/* Desktop and TVs (1280px & above) */